services:
  frontend:
    build: ./frontend
    environment:
      - VITE_GROQ_API_KEY=your_api_key_here
    ports:
      - "3000:80"
    
  database:
    image: mongo
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
